<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/about.css">

</head>

<body bgcolor="WhiteSmoke">
    <div class="about-section">
        <h1 id="l">Level Up!</h1>
        <hr>
        <p>About Us</p>
        <p>Just as e-learning has essentially transformed the way students absorb information and complete their coursework, online tutoring provides the supplemental skills-building that students require in a way that is significantly more cost-effective
            and convenient than traditional services.</p>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card" id="card">
                <img src="https://www.imagediamond.com/blog/wp-content/uploads/2020/06/cartoon-boy-images-4.jpg" alt="Jane" style='height: 40vh; width: 100%; object-fit: cover'>
                <div class="container">
                    <h2>Avishkar Chavle</h2>
                    <p class="title">CEO & Founder</p>
                    <p>VJTI COMPUTER SCIENCE 24'</p>
                    <p>aschavle_b20@ce.vjti.ac.in</p>
                    <p>
                        <a href="https://www.linkedin.com/in/avishkar-chavle-37b7a8215"> <button class="button"> Contact </button> </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card" id="card">
                <img src="https://www.imagediamond.com/blog/wp-content/uploads/2020/06/cartoon-boy-images-4.jpg" alt="Mike" style='height: 40vh; width: 100%; object-fit: cover'>
                <div class="container">
                    <h2>Satyam Bindroo</h2>
                    <p class="title">Backend Developer</p>
                    <p>VJTI COMPUTER SCIENCE 24'</p>
                    <p>sbindroo_b20@ce.vjti.ac.in</p>
                    <p>
                        <a href="https://github.com/SATYAM1548"> <button class="button">Contact</button></a>
                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card" id="car">
                <img src="https://wallpapercave.com/wp/wp5943492.jpg" alt="Mike" style='height: 40vh; width: 100%; object-fit: cover'>
                <div class="container">
                    <h2>Priti Ghuge</h2>
                    <p class="title">Art Director</p>
                    <p>VJTI EXTC 24'</p>
                    <p> pcghuge_b20@et.vjti.ac.in</p>
                    <p>
                        <a href="https://github.com/PritiGhuge"> <button class="button">Contact</button> </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card" id="card">
                <img src="https://www.imagediamond.com/blog/wp-content/uploads/2020/06/cartoon-boy-images-4.jpg" alt="Mike" style='height: 40vh; width: 100%; object-fit: cover'>
                <div class="container">
                    <h2>Samarth Langote</h2>
                    <p class="title">Front-end Developer</p>
                    <p>VJTI COMPUTER SCIENCE 24'</p>
                    <p>splangote_b20@ce.vjti.ac.in</p>
                    <p>
                        <a href="https://www.linkedin.com/in/samarth-langote-97212a200"> <button class="button">Contact</button></a>
                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card" id="car">
                <img src="https://wallpapercave.com/wp/wp5943492.jpg" alt="John" style='height: 40vh; width: 100%; object-fit: cover'>
                <div class="container">
                    <h2>Snehal Sonule</h2>
                    <p class="title">Designer</p>
                    <p>VJTI EXTC 24'</p>
                    <p>sasonule_b20@et.vjti.ac.in</p>
                    <p>
                        <a href="https://github.com/SnehalSonule"> <button class="button">Contact</button></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <marquee behavior="" direction="">All rights reserved ®</marquee>

</body>

</html>