<% layout('layouts/boilerplate')%>

    <body>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="askq.css">
        <!-- <form action="">
        <h2>Ask your doubt here</h2>
        <div class="form-outline mb-4">
            <textarea class="form-control" id="form6Example7" rows="4"></textarea>
            <label class="form-label" for="form6Example7">Additional information</label>
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4">submit</button>
    </form> -->
        <div class="container">
            <br><br>
            <!-- <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow sticky-top">

            <nav class="my-2 my-md-0 mr-md-3 ">
                <a class="btn btn-outline-primary" href="home.html">HOME</a>
            </nav>

        </div> -->
            <center>
                <nav class="my-2 my-md-0 mr-md-3 ">
                    <a class="btn btn-outline-primary" href="/home">HOME</a>
                </nav>
            </center>

            <h2>QNA</h2>
            <form>
                <div class="form-group">
                    <label for="comment">Ask a Question:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
                <button type="submit" class="btn btn-primary active">Submit</button>
            </form>
        </div>
    </body>