<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>

    <nav class="navbar sticky-top navbar-light bg-light ">
        <a class="navbar-brand " href="/home"><button type="button " class="btn btn-dark ">HOME</button></a>

        <a class="navbar-brand" href="/already"><button type="button " id="acc " class="btn btn-outline-success ">
                ALREADY HAVE AN ACCOUNT? </button></a>

    </nav>
    <div class="card mb-3">
        <img src="images/vecteezyschool-back-to-school-university-characterAW0721_generated.jpg" class="card-img-top"
            alt="student photo">
        <div class="card-body">
            <h5 class="card-title">STUDENT</h5>
            <p class="card-text">REGISTER AS A STUDENT TO GET ACCESS OF HOME TUTORS AT YOUR HOME OR ONLINE AT YOUR TIME
                . GET CHANCE TO LEARN BY TOP AND QUALIFIED TEACHERS OF INDIA AND ABROAD.</p>
            <div class="d-grid gap-2">
                <a href="/students/register"> <button class="btn btn-primary" type="button">REGISTER</button></a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">TEACHER</h5>
            <p class="card-text">LET'S TEACH THE FUTURE GEMS OF INDIA ! REGISTER HERE TO GET TEACH THE STUDENTS AT THEIR
                HOME OR ONLINE .IT'S A GREAT CHANCE TO TEACH AND EARN .. REGISTER ASAP !</p>
            <div class="d-grid gap-2">
                <a href="/teachers/register"> <button class="btn btn-primary" type="button">REGISTER</button></a>
            </div>
        </div>

        <img src="images/14893.jpg" class=" card-img-bottom " alt="... ">
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js "
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous ">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js "
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 " crossorigin="anonymous ">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js "
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy " crossorigin="anonymous ">
        </script>
    </span>
    </section>
    <script src="login.js "></script>
</body>

</html>