<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/css/new.css">

    <body style="background-color:white">


        <div id="priti" class="container py-5 h-100">

            <nav class="navbar sticky-top navbar-light bg-light ">
                <a class="navbar-brand " href="/home"><button type="button " class="btn btn-dark ">HOME</button></a>

                <a class="navbar-brand  " href="/already"><button type="button" id="acc "
                        class="btn btn-outline-success ">
                        ALREADY HAVE AN ACCOUNT? </button></a>

            </nav>


            <CENter>
                <h1>STUDENT REGISTERATION</h1>
            </CENter>
            <form action="/students" method="POST">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="form6Example1" class="form-control" name=student[firstName] required>
                            <label class="form-label" for="form6Example1">First name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="form6Example2" class="form-control" name=student[lastName] required>
                            <label class="form-label" for="form6Example2">Last name</label>
                        </div>
                    </div>
                </div>
                <!-- Number input -->
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline mb-4">
                            <input type="number" id="form6Example6" class="form-control" name=student[class] required>
                            <label class="form-label" for="form6Example6">Class</label>
                        </div>
                    </div>

                    <!-- gender input -->
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="form6Example2" class="form-control" name=student[gender] required>
                            <label class="form-label" for="form6Example2">Gender</label>
                        </div>
                    </div>
                </div>
                <!-- Text input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form6Example3" class="form-control" name=student[subject] required>
                    <label class="form-label" for="form6Example3">Subject</label>
                </div>

                <div class="form-outline mb-4">
                    <textarea class="form-control" id="form6Example4" rows="4" name=student[address]></textarea>

                    <label class="form-label" for="form6Example4">Address</label>
                </div>


                <div class="row mb-4">
                    <!-- Email input -->
                    <div class="col">
                        <div class="form-outline mb-4">
                            <input type="email" id="form6Example5" class="form-control" name=student[email] required>
                            <label class="form-label" for="form6Example5">Email</label>
                        </div>
                    </div>
                    <!-- password input -->
                    <div class="col">
                        <div class="form-outline mb-4">
                            <input type="number" id="form6Example5" class="form-control" name=student[phone] required>
                            <label class="form-label" for="form6Example5">Phone</label>
                        </div>
                    </div>
                </div>


                <!-- Message input -->
                <div class="form-outline mb-4">
                    <textarea class="form-control" id="form6Example7" rows="4" name=student[additionalInfo]></textarea>
                    <label class="form-label" for="form6Example7">Additional information (Enter your area of
                        interest)</label>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form6Example12">District</label>
                    <select name="student[district]" id="form6Example12" class="form-control" type="text" required>
                        <option value="">--Please choose an option--</option>
                        <option value="akola">Akola</option>
                        <option value="amravati">Amravati</option>
                        <option value="aurangabad">Aurangabad</option>
                        <option value="ahmednagar">Ahmednagar</option>
                        <option value="beed">Beed</option>
                        <option value="bhandara">Bhandara</option>
                        <option value="buldhana">Buldhana</option>
                        <option value="chandrapur">Chandrapur</option>
                        <option value="dhule">Dhule</option>
                        <option value="gadchiroli">Gadchiroli</option>
                        <option value="gondia">Gondia</option>
                        <option value="hingoli">Hingoli</option>
                        <option value="jalna">Jalna</option>
                        <option value="jalgaon">Jalgaon</option>
                        <option value="kolhapur">Kolhapur</option>
                        <option value="latur">Latur</option>
                        <option value="mumbai city">Mumbai City</option>
                        <option value="mumbai suburban">Mumbai Suburban</option>
                        <option value="nanded">Nanded</option>
                        <option value="nashik">Nashik</option>
                        <option value="nagpur">Nagpur</option>
                        <option value="nandurbar">Nandurbar</option>
                        <option value="osmanabad">Osmanabad</option>
                        <option value="parbhani">Parbhani</option>
                        <option value="pune">Pune</option>
                        <option value="palghar">Palghar</option>
                        <option value="raigad">Raigad</option>
                        <option value="ratnagiri">Ratnagiri</option>
                        <option value="sangli">Sangli</option>
                        <option value="satara">Satara</option>
                        <option value="sindhudurg">Sindhudurg</option>
                        <option value="solapur">Solapur</option>
                        <option value="thane">Thane</option>
                        <option value="washim">Washim</option>
                        <option value="wardha">Wardha</option>
                        <option value="yavatmal">Yavatmal</option>
                    </select>
                    <!-- <input type="text" id="form6Example12" class="form-control" name=student[district] required> -->

                </div>

                <center>
                    <button class="btn btn-primary btn-block mb-4 " type="submit">REGISTER</button>
                </center>
            </form>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous ">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 " crossorigin="anonymous ">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy " crossorigin="anonymous ">
            </script>

        </div>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>